EXPO_KEY=REPLACE_ME
MONGO_URL="mongodb+srv://algeneralns_db_user:XWeCOl0X8fd9IVjc@cluster0.u5c1uim.mongodb.net/?appName=Cluster0";
Username: algeneralns_db_user
Password: XWeCOl0X8fd9IVjc
const supabase_KEY=REPLACE_ME
const supabase_KEY=REPLACE_ME



